@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="indexwrap">
    <br>
    <div class="centerdiv">
        <div class="image-holder-div">

            <h1 class="in-imageheading"> Best Medicine  at Best Cost </h1>

        </div> <!--image-holder-div-->
    </div>

    <div class="main-div-padding">
        <h1 id="abo">About Us</h1>
        <p>
            For over 32 years, <strong>  <strong>City Pharmacy</strong></strong> has been <em>providing you with genuine medicines round-the-clock, through 24-hour pharmacies</em>. And now through   <strong>City Pharmacy</strong>, we intend to make your lives easier – by getting your medicines delivered to you. Yes, no more stepping out to get your medicines, no more standing in long queues, no more worrying about the genuineness of medicines, no more sweat! Here are more reasons why you should buy your medicines from   <strong>City Pharmacy</strong>:

            Super-fast deliveries. In select cities, deliveries are done in as less as 1 day
            Largest pharmacy chain in India with over 4,500 stores
            Attractive deals on medicines and other FMCG products
            Get Health Credits on purchases (not applicable on discounted products)
            Prescriptions can be uploaded directly to place an order
            Option to consult with a pharmacologist to check medicine interactions
            Wide range of healthcare products to choose from
            Only genuine and top-quality products delivered
        </p>
        <h1 id="why">Why us</h1>
        <ul>
            <li>1,200+ cities and 20,000+ Pin codes served</li>
            <li>	Medicine delivery within 3 hours*</li>
            <li>	1 Lakh+ medicines available</li>
            <li>	Cash on delivery option available</li>
            <li>	Attractive offers</li>
            <li>	Cashback option through wallet</li>padding
            <li>	Stringent quality checks</li>
            <li>	Garnered the trust of more than 10 million users who have made an online purchase through PharmEasy</li>
        </ul>

        <h1 id="co">Contact Us</h1>
        <dl>
            <dd>Email:City@g.com</dd>
            <dd>Phone No:954465584</dd>
            <dd>Contact for location given below</dd>
        </dl>
        <div class="centerdiv">

            <table class="tableborder">
                <caption><h2 id="loc">Locations</h2></caption>
                <tr class="table-items tableborder">
                    <th class="tableborder table-items table-header">Location </th>
                    <th class="table-items tableborder table-header">Contact info</th>
                </tr>
                <tr>
                    <td class="table-items tableborder">Ernakulam</td>
                    <td class="table-items tableborder">9144655948</td>
                </tr>
                <tr>
                    <td class="table-items tableborder">Edakula</td>
                    <td class="table-items tableborder">9144655948</td>
                </tr>
                <tr>
                    <td class="table-items tableborder">kochi</td>
                    <td class="table-items tableborder">9144655948</td>
                </tr>
            </table>

        </div><!--end of centerdiv-->
    </div>	
